### Legal Variable

1. We can use alphabets, underscore, numbers
2. Variable cant start from a number

In [1]:
num = 9

In [2]:
num = 10

In [3]:
num

10

In [4]:
salary = 5000

In [8]:
salary = salary*1.2

In [6]:
salary

6000.0

In [7]:
salary = 5000

In [9]:
# del salary

In [10]:
salary*1.2

7200.0

In [11]:
salary

6000.0

In [12]:
salary

6000.0

In [13]:
salary /= 1.2 # salary = salary/1.2

In [14]:
salary

5000.0

In [15]:
salary += 500

In [16]:
age = 27.3

In [17]:
first_name = "Muhammad"
last_name = 'Waqas'
pos = "2"

In [18]:
4/2

2.0

In [19]:
5//2 # // floor division - integer part

2

In [20]:
7/2

3.5

In [21]:
7//2

3

In [22]:
round(3.51)

4

In [24]:
round(3.49)

3

In [25]:
first_name

'Muhammad'

In [27]:
print(last_name)

Waqas

In [28]:
first_name,last_name

('Muhammad', 'Waqas')

In [29]:
first_name + last_name # concatenate - to glue -to stick something

'MuhammadWaqas'

In [30]:
first_name + " " + last_name

'Muhammad Waqas'

In [31]:
first_name + 2

TypeError: can only concatenate str (not "int") to str

In [32]:
2*2
2+2

first_name*2

'MuhammadMuhammad'

In [33]:
print("*"*35)

***********************************

In [35]:
print("go"*100)

gogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogogo

In [36]:
# first_name = last_name

In [37]:
type(first_name)

str

In [38]:
print(type(first_name))

<class 'str'>

In [39]:
salary

5500.0

In [40]:
type(salary)

float

In [41]:
type(5500.0)

float

In [42]:
type("Maryam")

str

In [44]:
maryam = 3000 # data point
umer = 3500  # data point
tabasum = 3100 # data point

# dataset

In [45]:
employee_salaries = [3000, 3500,3100]

In [46]:
type(employee_salaries)

list

In [48]:
employee1_details = ["Maryam", 3000, "Data Scientist"] #  ()

In [47]:
# list of lists

In [49]:
employee1_details # here you go

['Maryam', 3000, 'Data Scientist']

In [50]:
# Python is a zero index language

In [51]:
employee1_details[0]

'Maryam'

In [52]:
employee1_details[2]

'Data Scientist'

In [53]:
employee1_details[0], employee1_details[2] # () small bracket, parathesis

('Maryam', 'Data Scientist')

In [54]:
type(('Maryam', 'Data Scientist'))

tuple

In [55]:
# 0------ positive indexing - left to right
# -1------ Negative indexing - right to left

In [56]:
employee1_details

['Maryam', 3000, 'Data Scientist']

In [57]:
employee1_details[0]

'Maryam'

In [59]:
employee1_details[-3]

'Maryam'

In [60]:
employee1_details.index("maryam")

ValueError: 'maryam' is not in list

In [61]:
employee1_details.index("Maryam")

0