In [7]:
employees = [["Tabsum",2500,"A.I"],
            ["Waqas",3000,"D.S"],
            ["Afreen",2500,"D.S"]]

In [5]:
["Waqas",3000,"D.C"][1]

3000

In [2]:
for i in employees:
    if i[1] < 3000:
        print(i[0])

Tabsum
Afreen

In [ ]:
if 2500<3000

In [3]:
for i in employees:
 if i[1] < 3000:
  print(i[0])

Tabsum
Afreen

In [ ]:
for i in employees:
    if i[1] < 3000:
        print(i[0])

In [4]:
if 2500>3000:
    print("Yahoo")

In [8]:
for i in employees:
    if i[2] == "D.S":
        print(i[0])

Waqas
Afreen

In [ ]:
"A.I" == "D.S"

In [22]:
for i in employees:
    if i[2] == "A.I":
        print(i[0]+ f" is an/a {i[2]} Specialist")

Tabsum is an/a A.I Specialist

In [15]:
employees

[['Tabsum', 2500, 'A.I'], ['Waqas', 3000, 'D.S'], ['Afreen', 2500, 'D.S']]

In [16]:
D_S = 0
A_I = 0

for i in employees:
    if i[2] == "A.I":
        A_I += 1
        
    else:
        D_S += 1
    print(A_I, D_S)

1 0
1 1
1 2

In [17]:
print(A_I, D_S)

1 2

In [23]:
employees

[['Tabsum', 2500, 'A.I'], ['Waqas', 3000, 'D.S'], ['Afreen', 2500, 'D.S']]

In [24]:
for i in employees:
    if i[0] == "Waqas":
        print("He is a researcher")
    elif i[0] == "Faizan":
        print("He is not available")
    elif i[0] == "Tabsum":
        print("Her name is misspelled")
    else:
        print(i[0] + " is good in D.S")

Her name is misspelled
He is a researcher
Afreen is good in D.S

In [25]:
if employees[1][0] == "Waqas":
    print("Good")

Good

In [26]:
2 == 2

True

In [27]:
2<1

False

In [28]:
2>4 and 3<5

False

In [29]:
2>4 or 3<5

True

In [30]:
not 2>4

True

In [31]:
type(True)

bool

In [32]:
type("False")

str

In [33]:
type(false)

NameError: name 'false' is not defined

In [34]:
type(False)

bool

In [45]:
# Dictionary  is key value pair

emp_na_sa = {"Waqas":3000, "Faizan":5000, "Amir":2500, "Asad":["D.S", 2500, "Morning Shift"]}

In [38]:
len(emp_na_sa)

4

In [39]:
type(emp_na_sa)

dict

In [40]:
emp_na_sa[-1]

KeyError: -1

In [41]:
emp_na_sa["asad"]

KeyError: 'asad'

In [42]:
emp_na_sa["Asad"]

['D.S', 2500, 'Morning Shift']

In [46]:
emp_na_sa[1]

KeyError: 1

In [47]:
name_lst = ["Asad", "Ahsan","Saad", "Ahsan",
            "Saad", "Ahsan","Saad", "Ahsan","Saad", "Ahsan","Saad",
            "Ahsan","Saad","Asad", "Ahsan","Asad", "Ahsan", "Asad", "Ahsan"]

In [48]:
name_count = {}
type(name_count)

dict

In [50]:
name_count["Waqas"] = 1

In [51]:
name_count

{'Waqas': 1}

In [54]:
# {'Waqas': 1, 'Waqas': 2500}

In [53]:
name_count["Waqas"] = 2500

In [55]:
name_count

{'Waqas': 2500}

In [56]:
[1,1,1,1,1]

[1, 1, 1, 1, 1]

In [57]:
del name_count["Waqas"]

In [58]:
name_count

{}

In [59]:
name_lst

['Asad',
 'Ahsan',
 'Saad',
 'Ahsan',
 'Saad',
 'Ahsan',
 'Saad',
 'Ahsan',
 'Saad',
 'Ahsan',
 'Saad',
 'Ahsan',
 'Saad',
 'Asad',
 'Ahsan',
 'Asad',
 'Ahsan',
 'Asad',
 'Ahsan']

In [60]:
print(name_lst)

['Asad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Asad', 'Ahsan', 'Asad', 'Ahsan', 'Asad', 'Ahsan']

# Memembership Operators

* in
* not in

In [61]:
"Waqas" in name_lst

False

In [62]:
"Waqas" not in name_lst

True

In [63]:
"Asad" not in name_lst

False

In [64]:
"Asad" in name_lst

True

In [65]:
emp_na_sa

{'Waqas': 3000,
 'Faizan': 5000,
 'Amir': 2500,
 'Asad': ['D.S', 2500, 'Morning Shift']}

In [66]:
3000 in emp_na_sa

False

In [67]:
print(name_lst)

['Asad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Ahsan', 'Saad', 'Asad', 'Ahsan', 'Asad', 'Ahsan', 'Asad', 'Ahsan']

In [68]:
freq = {}

for i in name_lst:
    if i not in freq:
        freq[i] = 1
    elif i in freq:
        freq[i] += 1

In [69]:
freq

{'Asad': 4, 'Ahsan': 9, 'Saad': 6}

In [71]:
frequency = {}

for i in name_lst:
    if i not in frequency :
        frequency[i] = 1
    else:
        frequency[i] += 1

In [72]:
frequency

{'Asad': 4, 'Ahsan': 9, 'Saad': 6}