In [1]:
# e1 = [1,"2",3,4,5,6]
# e2 = [1,2,3,4,5,6]
# .
# .
# .
# .
# e100 = [1,2,3,4,5,6]

In [2]:
employees = [
             ["Tabasum",2500,"D.S"],
             ["Waqas", 3000, "A.I"],
             ["Afreen", 2500, "D.S"]
            ]

In [3]:
len(employees)

3

In [4]:
e100 = [1,2,3,4,5,6]
len(e100)

6

In [5]:
employees

[['Tabasum', 2500, 'D.S'], ['Waqas', 3000, 'A.I'], ['Afreen', 2500, 'D.S']]

In [6]:
print(employees)

[['Tabasum', 2500, 'D.S'], ['Waqas', 3000, 'A.I'], ['Afreen', 2500, 'D.S']]

In [7]:
waqas = employees[1]

In [12]:
waqas[0]

'Waqas'

In [9]:
employees[1][0]

'Waqas'

In [11]:
employees[-1][0]

'Afreen'

In [13]:
employees[0][0],employees[1][0], employees[2][0]

('Tabasum', 'Waqas', 'Afreen')

In [ ]:
# employees[0][0],employees[1][0], employees[2][0], , , , , , , ,
# -------------------------------employees[299][0]

# For Loop

In [17]:
for e_l in employees: # for loop statement
    print(e_l[0],e_l[1])

Tabasum 2500
Waqas 3000
Afreen 2500

In [ ]:
# CPU, GPU, TPU, QPU

In [15]:
e_l

['Afreen', 2500, 'D.S']

In [16]:
num = 3
num = 7

In [18]:
for i in employees: # for loop statement
    print(i[0],i[1])

Tabasum 2500
Waqas 3000
Afreen 2500

In [19]:
employees

[['Tabasum', 2500, 'D.S'], ['Waqas', 3000, 'A.I'], ['Afreen', 2500, 'D.S']]

In [ ]:
[employees, ["asad",666,"d.s"]]

[[['Tabasum', 2500, 'D.S'], ['Waqas', 3000, 'A.I'], ['Afreen', 2500, 'D.S']], 
 ["asad",666,"d.s"]]

In [20]:
24*.6

14.399999999999999

In [21]:
employees

[['Tabasum', 2500, 'D.S'], ['Waqas', 3000, 'A.I'], ['Afreen', 2500, 'D.S']]

# COnditional Statement

# Comparision Operator

* `>`
* `<`
* `==`
* `!=`
* `>=`
* `<=`

# Logical Operator

* and
* or
* not

In [ ]:
"rain" and "car" and "warm"

"rain" or "car" or "warm"

not "rain"

In [22]:
employees = [["Tabsum",2500,"A.I"],
            ["Waqas",3000,"D.C"],
            ["Afreen",2500,"0.5"]]

In [23]:
for i in employees: print(i)

['Tabsum', 2500, 'A.I']
['Waqas', 3000, 'D.C']
['Afreen', 2500, '0.5']